@model Mix.Cms.Lib.ViewModels.MixPages.ReadMvcViewModel
<div id="map"></div>
<button id="getMyLocation" class="btn btn-secondary" onclick="getLocation()">
<i class="fa fa-location-arrow" aria-hidden="true"></i>
</button>
