@model Mix.Cms.Lib.ViewModels.MixModules.ReadMvcViewModel
@{
  string assetFolder = MixCmsHelper.GetAssetFolder(ViewBag.culture);
}
<!-- Our Blog Section -->
  <div class="blog section section-invert py-4">
    <h3 class="section-title text-center m-5">Latest Posts</h3>

    <div class="container">
      <div class="py-4">
        <div class="row">
          <div class="card-deck">
            @foreach(var item in Model.Posts.Items)
            {
              <div class="col-md-12 col-lg-4">              
                <div class="card mb-4">
                  <img class="card-img-top" src="@item.Post.ImageUrl" alt="Card image cap">
                  <div class="card-body">
                    <h4 class="card-title">@item.Post.Title</h4>
                    <p class="card-text">@item.Post.Excerpt</p>
                    <a class="btn btn-primary btn-pill" href="@item.Post.DetailsUrl">Read More &rarr;</a>
                  </div>
                </div>              
              </div>
            }
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- / Our Blog Section -->
