@{
    string assetFolder = MixCmsHelper.GetAssetFolder(ViewBag.culture);
    var social = MixCmsHelper.GetModule("social", ViewBag.culture);    
}
<!-- Welcome Section -->
  <div class="welcome d-flex justify-content-center flex-column" 
    ng-controller="Welcome" ng-init="init()"
    style="background-image: url(@Model.ImageUrl);">
    <div class="container">
      <div id="particles-js" class="position-absolute w-100 h-100"></div>
      <!-- Navigation -->
      <partial name="../Widgets/Navigation.cshtml"/>
      <!-- / Navigation -->
    </div> <!-- .container -->

    <!-- Inner Wrapper -->
    <div class="inner-wrapper mt-auto mb-auto container">
      <div class="row">
        <div class="col-md-7">
          <h1 class="welcome-heading display-4 text-white">{{title}} @Html.Raw(Model.Property<string>("title"))</h1>
          <p class="text-white">@(Model.Property<string>("excerpt"))</p>
          <a href="@(Model.Property<string>("uri"))" class="btn btn-lg btn-outline-white btn-pill align-self-center">Learn More</a>          
        </div>
      </div>
    </div>
    <!-- / Inner Wrapper -->
  </div>
  <!-- / Welcome Section -->
